<!-- templates/videos.html -->
{% extends 'layout.html' %}

{% block title %}Videos{% endblock %}

{% block content %}
    <h1>AVIAD'S Videos</h1>
    
    <!-- Embed YouTube videos using iframes -->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/FKLhgCOpovY" frameborder="0" allowfullscreen></iframe>
    <p>Aviad playing a solo transcription</p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/MjZHpQFQpOs" frameborder="0" allowfullscreen></iframe>
    <p>Aviad's arrangement to a famous tune with his students BigBand</p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/PoPoCBoZWzI" frameborder="0" allowfullscreen></iframe>
    <p>Aviad playing with his students in his studio</p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/prhqNQLOnFk" frameborder="0" allowfullscreen></iframe>
    <p>Aviad's arrangement to a famous tune with a famous artist live in Ra'anana Park with his students BigBand</p>

    <!-- Add more content as needed -->
{% endblock %}
